*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    height: 753px;
    background: url(background.jpg) no-repeat;
    background-size: 100% 753px;
}
h3{
    text-align: center;
    margin-top: 100px;

}.link{
    height: 650px;
    width: 30%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0,.1);
}
a{
text-decoration: none;
font-size: 30px;
letter-spacing: 2px;
    color: white;

}